img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 0;
}
.search {
  padding: 5px;
  font-size: 12px;
  border: inherit;
  border-radius: 5px;
}

.search-form {
  position: fixed;
  top: 0;
  left: 50%;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  transition: all 500ms ease;
  transform: translateX(-50%);
  background-color: #0f3c9b;
  box-shadow: 1px 8px 6px rgb(0 0 0 / 16%);
  z-index: 10;
  justify-content: center;
}
